[submodule "cpr"]
	path = cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "rang"]
	path = rang
	url = https://github.com/agauniyal/rang
